@import '../../themeColours.module.css';

.boardViewerItem {
    /* background-color: var(--light); */
    border-radius: 5px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    user-select: none;
    /* box-sizing: border-box; */
    /* transition: height 100ms, min-height 100ms; */
    /* overflow: hidden; */
    /* padding: 10px; */
    min-height: 58px;
    max-height: 58px;
}

.draggingPlaceholder {
    background-color: rgba(var(--lightestRgbVals), 0.2);
}