@import '../../themeColours.module.css';

.boardViewerItem {
    background-color: var(--light);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}