.boardContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
    gap: 10px;
    overflow-x: auto;
}

.newListContainer {
    display: flex;
    justify-content: flex-end;
    min-width: 250px;
}