@import '../../themeColours.module.css';

.boardViewerItem {
    background-color: var(--light);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
    /* transition: height 100ms, min-height 100ms; */
    /* overflow: hidden; */
    padding: 5px;
    min-height: 40px;
    max-height: 40px;
}

.draggingPlaceholder {
    background-color: var(--lightest);
}