@import '../../globalVariables.module.css';

.container {
    background-image: url('../../assets/bridge.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100% - var(--headerHeight));
}