@import '../../themeColours.module.css';

.boardListContainer {
    min-width: 300px;
    max-width: 300px;
    background-color: var(--mid);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.boardListItemsContainer {
    flex-grow: 1;
    overflow-y: auto;
}

.boardListItems {
    overflow-y: auto;
    max-height: 100%;
}