@import '../../themeColours.module.css';
@import '../../globalVariables.module.css';

.siteHeader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10px;
    background-color: rgba(var(--darkRgbVals), 0.5);
    width: 100vw;
    height: var(--headerHeight);
    min-height: var(--headerHeight);
    max-height: var(--headerHeight);
    z-index: 99;
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mid);
    height: 35px;
    aspect-ratio: 3;
    border-radius: 5px;
    color: white;
}

.linkBtn:active {
    background-color: #918987;
}

.linkBtn:hover {
    background-color: #a5a19f;
}