@import '../../themeColours.module.css';

.container {
    /* border-radius: 10px; */
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    font-family: "Handlee", cursive;
    font-size: 24pt;
    transition: rotate 150ms, scale 100ms, box-shadow 200ms;
}

.noteTop {
    height: 20%;
    width: 100%;
    background-color: var(--dark);
}

.noteBottom {
    height: 100%;
    width: 100%;
    background-color: var(--mid);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.boardName {
    color: whitesmoke;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}